<!-- ads/templates/ads/announcement_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement List</title>
</head>
<body>
    <h1>Announcements</h1>
    <ul>
        {% for announcement in announcements %}
            <li>{{ announcement.title }} - {{ announcement.description }}</li>
            <img src="{{ announcement.photo}}" alt="">
        {% endfor %}
    </ul>
</body>
</html>
